<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.shillwil.recess-fitness</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nippardation</string>
				<string>recess</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Michroma-Regular.ttf</string>
		<string>ChakraPetch-SemiBold.ttf</string>
	</array>
</dict>
</plist>
